header {
  background-color: white;
  height: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body {
  margin: 0;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.menu {
  background-color: white;
  flex-grow: 1;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menu div {
  margin: 10px;
}
.menu div:hover {
  cursor: pointer;
}
.menu {
  overflow: auto;
}
hr {
  width: 100%;
  height: 1px;
  color: gainsboro;
}
.content {
  background-color: white;
  flex-grow: 9;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.youtube {
  font-size: 20px;
  padding-top: 7px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.youtube img {
  width: 100px;
  height: auto;
}
.input input {
  width: 300px;
  height: 30px;
  border-radius: 25px;
  background-color: transparent;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.input img {
  width: 24px;
  height: 24px;
}
.signin {
  font-size: 20px;
  padding-top: 7px;
  margin: 10px;
}
.filter {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}
.video {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.img {
  height: 200px;
  width: 380px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}
.tempo {
  height: 80px;
  width: 380px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}
.img2 {
  height: 40px;
  width: 40px;
  background-color: aquamarine;
  margin: 5px;
  text-align: center;
  border-radius: 50%;
}
.desc {
  height: 40px;
  width: 320px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
.videos {
  overflow: scroll;
}
.filter p {
  margin: 0;
  background-color: gainsboro;
  padding: 7px;
  border-radius: 5px;
}
.filter p:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
@media screen and( min-width:481px ) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
}
.menudivs {
  margin: 3px;
}
.menu h1 {
  margin: 0;
  font-size: 20px;
  margin-left: 28px;
}
.menu1 {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
}
.menu1 p {
  margin: 5px;
}
.menu1:hover {
  cursor: pointer;
  border-radius: 9px;
  background-color: gainsboro;
}
.img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.desc p {
  font-size: 18px;
  margin: 2px;
  height: 18px;
}
.img2 {
  height: 100%;
  width: 100%;
}
